.large-hero {
	position: relative;
	border-bottom: $mainBlue solid 1rem;
}

	.large-hero__image {
		display: block;
	}

	.large-hero__text-content {
		position: absolute;
		text-align: center;
		left: 0;
		width: 100%;
		top: 50%;
		-webkit-transform: translateY(-50%);
		   -moz-transform: translateY(-50%);
		    -ms-transform: translateY(-50%);
		     -o-transform: translateY(-50%);
		        transform: translateY(-50%);
	}

	.large-hero__title,
	.large-hero__subtitle {
		font-weight: 300;
		color: $mainBlue;
		margin: 0;
	}

	.large-hero__title {
		font-size: 6rem;
	}

	@media (min-width: 530px) {

	.large-hero__title {
			font-size: 7rem
	}
	}

	@media (min-width: 800px) {

	.large-hero__title {
			font-size: 8rem
	}
	}

	@media (min-width: 1200px) {

	.large-hero__title {
			font-size: 9rem
	}
	}

	.large-hero__subtitle {
		font-size: 4rem;
	}

	@media (min-width: 530px) {

	.large-hero__subtitle {
			font-size: 5rem
	}
	}

	@media (min-width: 800px) {

	.large-hero__subtitle {
			font-size: 5.5rem
	}
	}

	@media (min-width: 1200px) {

	.large-hero__subtitle {
			font-size: 6rem
	}
	}

	.large-hero__description {
		color: #fff;
		font-size: 2.7rem;
		font-weight: 300;
		text-shadow: 2px 2px 0 rgba(0, 0, 0, .1);
		max-width: 60rem;
		margin: 3.3rem auto;
	}

	@media (min-width: 530px) {

	.large-hero__description {
			font-size: 3rem
	}
	}

	@media (min-width: 800px) {

	.large-hero__description {
			font-size: 3.5rem
	}
	}

	@media (min-width: 1200px) {

	.large-hero__description {
			font-size: 4rem
	}
	}

